<app-header [showHeaderActions]="true" [isAdmin]="isAdmin" (lineConnect)="onLineConnect()" (logout)="onLogout()"></app-header>
<nav class="home-nav">
  <ul class="menu-list">
    <li class="menu-item">
      <a routerLink="/admin-parcels" class="menu-btn-horizontal">
        <span class="menu-icon-horizontal-wrap">
          <img src="/Photo/parcel-icon.svg" class="menu-icon-horizontal" alt="parcel">
        </span>
        <span class="menu-label-horizontal-wrap">
          <span class="menu-labels-block">
            <span class="menu-label-th">จัดการพัสดุ</span>
            <span class="menu-label-en">PARCEL MANAGEMENT</span>
          </span>
        </span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/admin/announcement" class="menu-btn-horizontal">
        <span class="menu-icon-horizontal-wrap">
          <img src="/Photo/announcement-icon.svg" class="menu-icon-horizontal" alt="announcement">
        </span>
        <span class="menu-label-horizontal-wrap">
          <span class="menu-labels-block">
            <span class="menu-label-th">จัดการข่าวสาร</span>
            <span class="menu-label-en">ANNOUNCEMENT MANAGEMENT</span>
          </span>
        </span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/admin-users" class="menu-btn-horizontal">
        <span class="menu-icon-horizontal-wrap">
          <img src="/Photo/For-admin-icon.svg" class="menu-icon-horizontal" alt="users">
        </span>
        <span class="menu-label-horizontal-wrap">
          <span class="menu-labels-block">
            <span class="menu-label-th">จัดการผู้ใช้</span>
            <span class="menu-label-en">USER MANAGEMENT</span>
          </span>
        </span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/admin/invoice" class="menu-btn-horizontal">
        <span class="menu-icon-horizontal-wrap">
          <img src="/Photo/invoice-icon.svg" class="menu-icon-horizontal" alt="invoice">
        </span>
        <span class="menu-label-horizontal-wrap">
          <span class="menu-labels-block">
            <span class="menu-label-th">จัดการใบแจ้งหนี้</span>
            <span class="menu-label-en">INVOICE MANAGEMENT</span>
          </span>
        </span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/admin/repairs" class="menu-btn-horizontal">
        <span class="menu-icon-horizontal-wrap">
          <img src="/Photo/service-request-icon.svg" class="menu-icon-horizontal" alt="repairs">
        </span>
        <span class="menu-label-horizontal-wrap">
          <span class="menu-labels-block">
            <span class="menu-label-th">จัดการคำขอซ่อม</span>
            <span class="menu-label-en">REPAIR MANAGEMENT</span>
          </span>
        </span>
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="/admin/facility-booking" class="menu-btn-horizontal">
        <span class="menu-icon-horizontal-wrap">
          <img src="/Photo/facility-booking-icon.svg" class="menu-icon-horizontal" alt="facility">
        </span>
        <span class="menu-label-horizontal-wrap">
          <span class="menu-labels-block">
            <span class="menu-label-th">จัดการการจองส่วนกลาง</span>
            <span class="menu-label-en">FACILITY MANAGEMENT</span>
          </span>
        </span>
      </a>
    </li>
  </ul>
</nav>
