<h1>🏠 ระบบอำนวยความสะดวกหอพัก</h1>
<a *ngIf="isAdmin" routerLink="/staff" style="position:absolute;top:10px;right:10px">หน้าสำหรับเจ้าหน้าที่</a>

<nav>
  <ul>
    <li><a routerLink="/invoice">📄 ใบแจ้งหนี้</a></li>
    <li><a routerLink="/repair">🛠️ แจ้งซ่อม</a></li>
    <li><a routerLink="/repair-status">🔍 ตรวจสอบสถานะการซ่อม</a></li>
    <li><a routerLink="/announcements">📢 ข่าวสาร</a></li>
    <li><a routerLink="/facility-booking">📅 จองบริการส่วนกลาง</a></li>
    <li><a routerLink="/parcel">📦 แจ้งพัสดุ</a></li>
    <li><a routerLink="/qr-checkin">✅ QR Check-in</a></li>
    <li><a routerLink="/qr-scan">🔍 QR Scan</a></li>


  </ul>
</nav>

<!-- ปุ่มเชื่อม LINE -->
<button (click)="connectLine()" style="margin-top:20px;">
  🔗 เชื่อมบัญชี LINE
</button>
